<!--- TEMPLATE FOR BLOG POST --->
{{!< default}}

<div class="container">
	
	<!-- HEADER COLUMN --->	
	<div class="header-col">
		<header>
			{{> header }}	
		</header>
	</div>
	
	
	<!--- MAIN COLUMN --->
	<div class="main-col">
		<main>
			<div class="post-entry">
				<!--- POST CONTENT --->
				{{#post}}	
				<article role="article" itemscope itemtype="http://schema.org/Article" class="postlistArticle">
					<h1 class="post-title">{{title}}</h1>


					<div class="post-info">
					<time datetime="{{date format="YYYY MMM DD"}}" itemprop="datePublished">
						<span class="datetime-full">{{date format="DD.MM.YYYY"}}</span>
					</time>
						<span class="post-entry tags">{{tags separator=" "}}</span>
					</div>

					<div class="hrule"></div>
					<div class="postContent">
						{{content}} 
					</div>
				</article>
				<div class="author-info">
					<img src="{{author.image}} " alt="{{author.name}}" class="author-img" />
					<h4 class="author-name">{{author.name}}</h4>
					<p class="author-bio">{{author.bio}}</p>
				</div>

				<!--- Sharing Section --->
				{{> share }}

				<!--- Comment sections - using DISQUS as default --->
				{{> comment }}
				
				{{/post}}	
			</div>
		</main>
		<footer>
			{{> footer}}
		</footer>
	</div>
</div>

